<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KoiAnime_REST_Server.Properties.Settings.koianimeConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=koianime"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <runtime>
  </runtime>
</configuration>
